body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-size: 100px;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  input[type="checkbox"] {
    transform: scale(1.5);
  }
  